.tile {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    font-size: 25px;
}

.tile-winning{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    background-color: green;
}